.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page {
    margin: 0 5px;
    cursor: pointer;
    color: #999;
}

.active {
    font-weight: bold;
    color: #000;
}