.stock-detail-container {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 100px 20px;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

