.container {
    background-color: #ffffff;
    padding: 100px 20px;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.alignColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alignRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inline{
    display: flex;
    gap: 20px;
    align-items: bottom;
    text-align: bottom;
}

.riseColor {
    color: #d20d0d;
}

.fallColor {
    color: #0d42d2; 
}