.container {
    background-color: #ffffff;
    padding: 100px 20px;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.inline{
    display: flex;
    justify-content: space-between;
}

.riseColor {
    color: #d20d0d;
}

.fallColor {
    color: #0d42d2; 
}